<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Camera Stream (Night Vision)</title>
    </head>
    <body>
        <center><h1>Camera Stream (Night Vision)</h1></center>
        <center>{}</center>
    </body>
</html>
